.poll-wrapper {
	max-width: 100vw;
	min-width: 60vw;

	transition: height .5s ease-in-out;
}

.poll-total-votes {
  align-self: flex-end;
}


.poll-title {
	color: var(--color-blue-dark-1);
	font-size: 3.4rem;
	font-family: ;
}