.poll-wrapper {
  min-width: 320px;
  max-width: min(600px, 100vw);
  transition: height 0.5s ease-in-out;
  padding: 0;
}

.poll-wrapper .form-item {
  padding: 0 5rem;
  margin: 0;
}

.poll-wrapper .form-item:not(:last-child) {
  margin-bottom: 1rem;
}

.poll-wrapper .form-item:last-child {
  padding-bottom: 4rem;
}

.poll-total-votes {
  align-self: flex-start;
}

.poll-title {
  color: var(--color-blue-dark-1);
  font-size: 3.4rem;
  margin-right: auto;
}

.poll-description {
  font-size: 2.2rem;
  font-style: italic;
}

.poll-title > span {
  color: var(--color-primary);
}

.poll-title > span:hover {
  text-decoration: underline;
  cursor: pointer;
}

.poll-title > span::selection {
  background: var(--color-primary-light);
  color: white;
}

.poll-tags {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  /* flex-direction: column; */
}

.poll-detail-wrapper {
  position: relative;
  align-self: center;
  display: flex;
  width: 100%;
  padding: 2rem 4rem;
  background: var(--color-grey-light-1);
  border-radius: 10px 10px 0 0;
}
.poll-detail-wrapper > *:not(:first-child) {
  margin-left: 1rem;
}
.poll-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  -ms-word-break: break-all;
  word-break: break-all;

  /* Non standard for WebKit */
  word-break: break-word;

  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;

  /* margin-left: 1rem;	 */
}

@media screen and (max-width: 600px) {
  .poll-title {
    color: var(--color-blue-dark-1);
    font-size: 2rem;
  }
  .poll-description {
    font-size: 1.4rem;
  }
  .poll-detail-wrapper {
    padding: 2rem 2rem;
  }
}

.three-dots-box {
  position: absolute;
  top: 3rem;
  right: 2rem;
  content: "";
  height: 35px;
  width: 35px;

  background: red;
  /* transform: translateY(-50%), translateX(-50%); */
  transform: translate(-50%, -50%);
  /* translateX(-50%); */
  /* transform: translateX(-50%) */
}

.three-dots {
  position: absolute;
  top: 3rem;
  right: 2rem;
  content: "";
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.three-dots,
.three-dots::before,
.three-dots::after {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: var(--color-grey-dark-5);
}

.three-dots::before,
.three-dots::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
}

.three-dots::before {
  top: -0.8rem;
}
.three-dots::after {
  top: 0.8rem;
}

.three-dots:hover::before {
  transform: translateY(-0.2rem);
}

.three-dots:hover::before {
  transform: translateY(0.2rem);
}

.three-dots:hover::before {
  transform: translateY(-0.2rem);
}

.three-dots:hover::after {
  transform: translateY(0.2rem);
}
