.signup {
  height: calc(100vh - var(--nav-height));
  overflow: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup > *,
.signup > * > *,
.signup > * > * > *,
.signup > * > * > * > *,
.signup > * > * > * > * > * {
  font-family: "Montserrat", sans-serif;
}

/* TODO : FIX Mobile not looking centered */
